@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    word-break: break-all;
    overflow-wrap: break-word;
  }

  .content {
    animation-name:fadeInAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
  }

  .zoomIn {
    animation-name:zoomInAnime;
    animation-duration:0.2s;
    animation-fill-mode:forwards;
  }

  .fadeInSlideUp {
    animation-name:fadeInSlideUpAnime;
    animation-duration:4s;
    animation-fill-mode:forwards;
  }
  
  @keyframes fadeInAnime{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  @keyframes zoomInAnime {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }

  @keyframes fadeInSlideUpAnime {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }

    10% {
      opacity: 1;
      transform: translateY(0);
    }

    90% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(100px);
    }
  }