@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    word-break: break-all;
    overflow-wrap: break-word;
  }

  .content {
    animation-name:fadeInAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
  }
  
  @keyframes fadeInAnime{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }